<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wgreen">
                        <div ht-widget-header title="{{vm.news.title}}"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <div ng-show="vm.authenticated">
                                <h4>Logged in as {{ vm.payload.username }} <small><a ng-click="vm.logout()">Logout</a></small></h4>
                            </div>
                            <div ng-show="!vm.authenticated">
                                <h4>NOT AUTHENTICATED</h4>
                                <button ng-click="vm.authenticate()">Authenticate</button>
                            </div>

                            <button ng-click="vm.makeApiCall()">Make API Request</button>

                            <div ng-show="vm.jsonResponse">
                                <h5>Response</h5>
                                <pre class="text-left">{{ vm.jsonResponse }}</pre>
                            </div>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
